/* 
##################################################
##################################################
					Importations
##################################################
##################################################
*/		
@import url("components/timeline.css");
@import url("components/nav.css");
@import url("components/avatar.css");
@import url("components/thumbnail.css");
@import url("components/form.css");
@import url("components/button.css");


/* 
##################################################
##################################################
					RESET
##################################################
##################################################
*/		
*{
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/* 
##################################################
##################################################
					Structure
##################################################
##################################################
*/		
header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #34495E;
	height: 200px;
	text-align: center;
	width: 100%;
	
}
h1, h2, a{
	
	color: white;
	
}

h1{
	font-size: 2.3em;
	border-bottom: 1px solid white;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 2em;
	
	color: #2f3542
}
h4{
	font-size: 1em;
	font-weight: lighter;
	font-style: italic;
	color: #2f3542
}
h5{
	font-size: 1.2em;
}
section{
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 70vh;
}
section:nth-child(even){
	background-color: #FFF;
}
section:nth-child(odd){
	background-color: #E4F1FE;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#Presentation{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#identity{
	display: flex;
	justify-content: space-around;
	
}

#identity p{
	
	color: #2f3542;
}


.flex-cont{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.active{
	color: #f1f2f6;
	background-color: #34495E;
	border-radius: 10px;
}
