body {background:#f9f9f9;font-family:'OpenSans',Arial,sans-serif;}
body ::-moz-selection {background:#46bcec;color:#f9f9f9;}
body ::selection {background:#46bcec;color:#f9f9f9;}

h1,h2,h3,h4,h5,h6,dt{font-family:'OpenSans',Arial,sans-serif;}
h1 {font-size:2.2em;}
h2 {font-size:1.8em;}
h3 {font-size:1.5em;}
h4,dt {font-size:1.2em;}
a:active {background-color:transparent;}
p {font-size:0.9em;text-align:justify;}
p a:hover{text-decoration:underline;}
li {list-style-type:none;}
i {color:#46bcec;}
nav ul {text-transform:uppercase;line-height:38px;}
nav a {color:#444;border-bottom:2px solid #f9f9f9;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
nav a:hover {color:#444;border-bottom-color:#46bcec;}
nav a.selected {border-bottom:2px solid #46bcec;}
footer span {font-size:0.67em;color:#999;padding:0px;}
footer span a:hover {text-decoration:underline;}
footer a:hover .icon {color:#46bcec;}
footer .icon {font-size:1.6em;color:#444;-webkit-transition:color 0.3s ease;-moz-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease;}
footer .icon.fontello-dot {margin-left:3px;margin-right:3px;color:#d8dbe1;}

@font-face {font-family:'JennaSue';src:url('../font/jennasue/jennasue.eot');src:url('../font/jennasue/jennasue.eot?#iefix') format('embedded-opentype'),url('../font/jennasue/jennasue.woff') format('woff'),url('../font/jennasue/jennasue.ttf') format('truetype'),url('../font/jennasue/jennasue.svg#jenna_sueregular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'OpenSans';src:url('../font/opensans/opensansregular.eot');src:url('../font/opensans/opensansregular.eot?#iefix') format('embedded-opentype'),url('../font/opensans/opensansregular.woff') format('woff'),url('../font/opensans/opensansregular.ttf') format('truetype'),url('../font/opensans/opensansregular.svg#open_sansregular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'OpenSans';src:url('../font/opensans/opensanssemibold.eot');src:url('../font/opensans/opensanssemibold.eot?#iefix') format('embedded-opentype'),url('../font/opensans/opensanssemibold.woff') format('woff'),url('../font/opensans/opensanssemibold.ttf') format('truetype'),url('../font/opensans/opensanssemibold.svg#open_sanssemibold') format('svg');font-weight:bold;font-style:normal;}
@font-face {font-family:'fontello';src:url('../font/fontello/fontello.eot');src:url('../font/fontello/fontello.eot?#iefix') format('embedded-opentype'),url('../font/fontello/fontello.woff') format('woff'),url('../font/fontello/fontello.ttf') format('truetype'),url('../font/fontello/fontello.svg#fontello') format('svg');font-weight:normal;font-style:normal;}

@-webkit-keyframes flipInY {0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{-webkit-transform:perspective(400px) rotateY(-10deg);} 70%{-webkit-transform:perspective(400px) rotateY(10deg);} 100%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1;}}
@-moz-keyframes flipInY {0%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{-moz-transform:perspective(400px) rotateY(-10deg);} 70%{-moz-transform:perspective(400px) rotateY(10deg);} 100%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1;}}
@-o-keyframes flipInY {0%{-o-transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{-o-transform:perspective(400px) rotateY(-10deg);} 70%{-o-transform:perspective(400px) rotateY(10deg);} 100%{-o-transform:perspective(400px) rotateY(0deg);opacity:1;}}
@keyframes flipInY {0%{transform:perspective(400px) rotateY(90deg);opacity:0;} 40%{transform:perspective(400px) rotateY(-10deg);} 70%{transform:perspective(400px) rotateY(10deg);} 100%{transform:perspective(400px) rotateY(0deg);opacity:1;}}
@-webkit-keyframes fadeIn {0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fadeIn {0%{opacity:0;} 100%{opacity:1;}}
@-o-keyframes fadeIn {0%{opacity:0;} 100%{opacity:1;}}
@keyframes fadeIn {0%{opacity:0;} 100%{opacity:1;}}
@-webkit-keyframes fadeInDown {0%{opacity:0;-webkit-transform:translateY(-20px);} 100%{opacity:1;-webkit-transform:translateY(0);}}
@-moz-keyframes fadeInDown {0%{opacity:0;-moz-transform:translateY(-20px);} 100%{opacity:1;-moz-transform:translateY(0);}}
@-o-keyframes fadeInDown {0%{opacity:0;-o-transform:translateY(-20px);} 100%{opacity:1;-o-transform:translateY(0);}}
@keyframes fadeInDown {0%{opacity:0;transform:translateY(-20px);} 100%{opacity:1;transform:translateY(0);}}
@-webkit-keyframes fadeInLeft {0%{opacity:0;-webkit-transform:translateX(-20px);} 100%{opacity:1;-webkit-transform:translateX(0);}}
@-moz-keyframes fadeInLeft {0%{opacity:0;-moz-transform:translateX(-20px);} 100%{opacity:1;-moz-transform:translateX(0);}}
@-o-keyframes fadeInLeft {0%{opacity:0;-o-transform:translateX(-20px);} 100%{opacity:1;-o-transform:translateX(0);}}
@keyframes fadeInLeft {0%{opacity:0;transform:translateX(-20px);} 100%{opacity:1;transform:translateX(0);}}
@-webkit-keyframes fadeInRight {0%{opacity:0;-webkit-transform:translateX(20px);} 100%{opacity:1;-webkit-transform:translateX(0);}}
@-moz-keyframes fadeInRight {0%{opacity:0;-moz-transform:translateX(20px);} 100%{opacity:1;-moz-transform:translateX(0);}}
@-o-keyframes fadeInRight {0%{opacity:0;-o-transform:translateX(20px);} 100%{opacity:1;-o-transform:translateX(0);}}
@keyframes fadeInRight {0%{opacity:0;transform:translateX(20px);} 100%{opacity:1;transform:translateX(0);}}
@-webkit-keyframes bounceIn {0%{opacity:0;-webkit-transform:scale(.3);} 50%{opacity:1;-webkit-transform:scale(1.05);} 70%{-webkit-transform:scale(.9);} 100%{-webkit-transform:scale(1);}}
@-moz-keyframes bounceIn {0%{opacity:0;-moz-transform:scale(.3);} 50%{opacity:1;-moz-transform:scale(1.05);} 70%{-moz-transform:scale(.9);} 100%{-moz-transform:scale(1);}}
@-o-keyframes bounceIn {0%{opacity:0;-o-transform:scale(.3);} 50%{opacity:1;-o-transform:scale(1.05);} 70%{-o-transform:scale(.9);} 100%{-o-transform:scale(1);}}
@keyframes bounceIn {0%{opacity:0;transform:scale(.3);} 50%{opacity:1;transform:scale(1.05);} 70%{transform:scale(.9);} 100%{transform:scale(1);}}
@-webkit-keyframes bounceInDown {0%{opacity:0;-webkit-transform:translateY(-2000px);} 60%{opacity:1;-webkit-transform:translateY(30px);} 80%{-webkit-transform:translateY(-10px);} 100%{-webkit-transform:translateY(0);}}
@-moz-keyframes bounceInDown {0%{opacity:0;-moz-transform:translateY(-2000px);} 60%{opacity:1;-moz-transform:translateY(30px);} 80%{-moz-transform:translateY(-10px);} 100%{-moz-transform:translateY(0);}}
@-o-keyframes bounceInDown {0%{opacity:0;-o-transform:translateY(-2000px);} 60%{opacity:1;-o-transform:translateY(30px);} 80%{-o-transform:translateY(-10px);} 100%{-o-transform:translateY(0);}}
@keyframes bounceInDown {0%{opacity:0;transform:translateY(-2000px);} 60%{opacity:1;transform:translateY(30px);} 80%{transform:translateY(-10px);} 100%{transform:translateY(0);}}
@-webkit-keyframes rollIn {0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);} 100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);}}
@-moz-keyframes rollIn {0%{opacity:0;-moz-transform:translateX(-100%) rotate(-120deg);} 100%{opacity:1;-moz-transform:translateX(0px) rotate(0deg);}}
@-o-keyframes rollIn {0%{opacity:0;-o-transform:translateX(-100%) rotate(-120deg);} 100%{opacity:1;-o-transform:translateX(0px) rotate(0deg);}}
@keyframes rollIn {0%{opacity:0;transform:translateX(-100%) rotate(-120deg);} 100%{opacity:1;transform:translateX(0px) rotate(0deg);}}
@-webkit-keyframes infiniteFading {0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}}
@-moz-keyframes infiniteFading {0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}}
@-o-keyframes infiniteFading {0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}}
@keyframes infiniteFading {0%{opacity:0;} 50%{opacity:1;} 100%{opacity:0;}}
@-webkit-keyframes zoomIn {0%{opacity:0;-webkit-transform:scale(0.5);} 100%{opacity:1;-webkit-transform:scale(1);}}
@-moz-keyframes zoomIn {0%{opacity:0;-moz-transform:scale(0.5);} 100%{opacity:1;-moz-transform:scale(1);}}
@-o-keyframes zoomIn {0%{opacity:0;-o-transform:scale(0.5);} 100%{opacity:1;-o-transform:scale(1);}}
@keyframes zoomIn {0%{opacity:0;transform:scale(0.5);} 100%{opacity:1;transform:scale(1);}}
@-webkit-keyframes zoomOut {0%{opacity:1;-webkit-transform:scale(1);} 100%{opacity:0;-webkit-transform:scale(0.5);}}
@-moz-keyframes zoomOut {0%{opacity:1;-moz-transform:scale(1);} 100%{opacity:0;-moz-transform:scale(0.5);}}
@-o-keyframes zoomOut {0%{opacity:1;-o-transform:scale(1);} 100%{opacity:0;-o-transform:scale(0.5);}}
@keyframes zoomOut {0%{opacity:1;transform:scale(1);} 100%{opacity:0;transform:scale(0.5);}}

[class*="fontello-"] {display:inline;width:auto;height:auto;line-height:inherit;vertical-align:baseline;}
[class*="fontello-"]:before {font-family:'fontello';font-weight:normal;font-style:normal;text-decoration:inherit;}

.fontello-play:before {content:'\e837';}
.fontello-cloud:before {content:'\e82b';}
.fontello-note-beamed:before {content:'\e814';}
.fontello-flag:before {content:'\e80a';}
.fontello-cog:before {content:'\e800';}
.fontello-flight:before {content:'\e831';}
.fontello-pencil:before {content:'\e81c';}
.fontello-feather:before {content:'\e812';}
.fontello-cancel-squared:before {content:'\e823';}
.fontello-info-circled:before {content:'\e80b';}
.fontello-code:before {content:'\e813';}
.fontello-chat:before {content:'\e81a';}
.fontello-vcard:before {content:'\e81b';}
.fontello-map:before {content:'\e815';}
.fontello-docs:before {content:'\e80d';}
.fontello-archive:before {content:'\e818';}
.fontello-resize-full:before {content:'\e822';}
.fontello-popup:before {content:'\e817';}
.fontello-window:before {content:'\e810';}
.fontello-database:before {content:'\e80f';}
.fontello-left-circled:before {content:'\e835';}
.fontello-right-circled:before {content:'\e838';}
.fontello-left-open-big:before {content:'\e832';}
.fontello-right-open-big:before {content:'\e833';}
.fontello-dot:before {content:'\e809';}
.fontello-dot-3:before {content:'\e839';}
.fontello-brush:before {content:'\e82a';}
.fontello-paper-plane:before {content:'\e82d';}
.fontello-cc:before {content:'\e826';}
.fontello-cc-by:before {content:'\e827';}
.fontello-cc-nc:before {content:'\e829';}
.fontello-cc-nc-eu:before {content:'\e828';}
.fontello-cc-share:before {content:'\e825';}
.fontello-swimming:before {content:'\e830';}
.fontello-gamepad:before {content:'\e82f';}
.fontello-github-circled:before {content:'\e808';}
.fontello-twitter-circled:before {content:'\e805';}
.fontello-facebook-circled:before {content:'\e804';}
.fontello-dribbble-circled:before {content:'\e807';}
.fontello-skype-circled:before {content:'\e806';}
.fontello-db-shape:before {content:'\e80e';}
.fontello-globe:before {content:'\e811';}
.fontello-graduation-cap:before {content:'\e820';}
.fontello-users:before {content:'\e82c';}
.fontello-lamp:before {content:'\e821';}
.fontello-alert:before {content:'\e824';}
.fontello-monitor:before {content:'\e802';}
.fontello-briefcase:before {content:'\e819';}
.fontello-chart-line:before {content:'\e80c';}
.fontello-book:before {content:'\e82e';}
.fontello-phone:before {content:'\e83a';}
.fontello-upload:before {content:'\e816';}
.fontello-download:before {content:'\e81e';}
.fontello-box:before {content:'\e836';}
.fontello-newspaper:before {content:'\e81d';}
.fontello-mobile:before {content:'\e803';}
.fontello-camera:before {content:'\e834';}
.fontello-link:before {content:'\e81f';}
.fontello-clock:before {content:'\e801';}

.no-js .notification.module {display:block;}

.row {max-width:75em;}
.notification {font-size:1.1em;display:none;background:#46bcec;color:#f9f9f9;padding:50px 30px;position:absolute;top:0;width:100%;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;-o-animation-delay:1.2s;animation-delay:1.2s;}
.notification .icon {color:#f9f9f9;}
.notification a {color:#444;font-weight:bold;}
.notification a:hover {border-bottom:1px solid;}
.notification a i {color:#444;}
.notification.deprecated {display:block;}
.nomargintop {margin-top:0;}
.icon {font-size:1.15em;margin-right:10px;}
.tooltip {font-size:0.95em;margin-left:-4px;margin-top:-4px;background:#222;}
.tooltip .nub {border-color:#222 transparent transparent transparent !important;}
.label {font-weight:normal;}
.button {border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;font-weight:normal;margin:0;padding:12px 20px;}
.button:active {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.button.small{padding:6px 10px;margin:0 2px 5px 0;}
.button.radius{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.effect {-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}
.effect.flipInY {-webkit-backface-visibility:visible;-webkit-animation-name:flipInY;-moz-backface-visibility:visible;-moz-animation-name:flipInY;-o-backface-visibility:visible;-o-animation-name:flipInY;backface-visibility:visible;animation-name:flipInY;}
.effect.fadeIn {-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn;}
.effect.fadeInDown {-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown;}
.effect.fadeInLeft {-webkit-animation-name:fadeInLeft;-moz-animation-name:fadeInLeft;-o-animation-name:fadeInLeft;animation-name:fadeInLeft;}
.effect.fadeInRight {-webkit-animation-name:fadeInRight;-moz-animation-name:fadeInRight;-o-animation-name:fadeInRight;animation-name:fadeInRight;}
.effect.bounceIn {-webkit-animation-name:bounceIn;-moz-animation-name:bounceIn;-o-animation-name:bounceIn;animation-name:bounceIn;}
.effect.bounceInDown {-webkit-animation-name:bounceInDown;-moz-animation-name:bounceInDown;-o-animation-name:bounceInDown;animation-name:bounceInDown;}
.effect.rollIn {-webkit-animation-name:rollIn;-moz-animation-name:rollIn;-o-animation-name:rollIn;animation-name:rollIn;}
.effect.infiniteFading {opacity:0;-webkit-animation:infiniteFading 2s infinite ease .4s;-moz-animation:infiniteFading 2s infinite ease .4s;-o-animation:infiniteFading 2s infinite ease .4s;animation:infiniteFading 2s infinite ease .4s;}
.effect.zoomIn {-webkit-animation:zoomIn ease .4s;-moz-animation:zoomIn ease .4s;-o-animation:zoomIn ease .4s;animation:zoomIn ease .4s;}
.effect.zoomOut {opacity:0;-webkit-animation:zoomOut ease .4s;-moz-animation:zoomOut ease .4s;-o-animation:zoomOut ease .4s;animation:zoomOut ease .4s;}
.effect.delay20ms {-webkit-animation-delay:.20s;-moz-animation-delay:.20s;-o-animation-delay:.20s;animation-delay:.20s;}
.effect.delay40ms {-webkit-animation-delay:.40s;-moz-animation-delay:.40s;-o-animation-delay:.40s;animation-delay:.40s;}
.effect.delay60ms {-webkit-animation-delay:.60s;-moz-animation-delay:.60s;-o-animation-delay:.60s;animation-delay:.60s;}
.effect.delay80ms {-webkit-animation-delay:.80s;-moz-animation-delay:.80s;-o-animation-delay:.80s;animation-delay:.80s;}
.effect.delay100ms {-webkit-animation-delay:1s;-moz-animation-delay:1s;-o-animation-delay:1s;animation-delay:1s;}
.effect.delay120ms {-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;-o-animation-delay:1.2s;animation-delay:1.2s;}

#workspace {border-top:6px solid #2980b9;padding-top:35px;}
#title {color:inherit;}
#title span:first-child {font-family:'JennaSue',Georgia,Arial,sans-serif;font-size:3em;line-height:40px;}
#title span:last-child {font-family:Arial,sans-serif;text-transform:uppercase;font-size:0.46em;font-weight:bold;margin-left:68px;color:#46bcec;}
#update {font-size:0.8em;display:block;margin-top:30px;color:#ccc;text-align:right;margin-right:3px;}
#update .icon {font-size:1em;margin-right:5px;}
#version a:first-child{display:block;}
#version .icon{margin-top:6px;}
#social .icon {margin-right:0px;}
#social li {margin-left:5px;}

@media (min-width:980px) and (max-width:1200px){
	h1 {font-size:1.78em;}
	h2 {font-size:1.6em;}
	h3 {font-size:1.45em;}
	h4,dt {font-size:1.1em;}
	nav ul {font-size:0.95em;}
	nav ul.inline-list>li {margin-left:15px;}
	
	.row {max-width:60em;}
	.notification {font-size:1em;}
	.tooltip {font-size:0.85em;}
	.button {font-size:0.9em;}
	
	#update {margin-top:23px;}
}

@media (min-width:768px) and (max-width:979px){
	h1 {font-size:1.45em;}
	h2 {font-size:1.35em;}
	h3 {font-size:1.3em;}
	h4,dt {font-size:1em;}
	p {font-size:0.8em;}
	nav ul {font-size:0.8em;}
	nav ul.inline-list>li {margin-left:12px;}
	
	.row {max-width:48em;}
	.notification {font-size:0.8em;padding:50px 0;}
	.icon {margin-right:7px;}
	.tooltip {font-size:0.8em;}
	.button {font-size:0.85em;}
	
	#update {margin-top:17px;font-size:0.75em;}
	#version .desktop{display:none;}
	#version .mobile{display:block;}
}

@media (max-width:767px){
	*{text-align:center;}
	h1 {font-size:1.6em;}
	h1 .icon {display:inline-block;height:26px;}
	h2 {font-size:1.4em;}
	h3 {font-size:1.3em;}
	h4,dt {font-size:1em;}
	p {font-size:0.8em;}
	nav ul.inline-list {display:block;font-size:0.8em;margin:0 auto;margin-top:15px;line-height:24px;}
	nav ul.inline-list>li {margin-left:10px;display:inline-block;float:none;}
	nav ul.inline-list>li:first-child {margin-left:0;}
	
	.row {max-width:35em;}
	.notification {font-size:0.9em;line-height:25px;padding:45px 30px;}
	.tooltip {visibility:hidden !important;}
	.button {font-size:0.85em;margin-top:5px;}
	.left,.right {float:none !important;}
	
	#workspace {padding-top:25px;}
	#title {margin:0 auto 6px auto;}
	#update {margin-top:0;margin-right:0;margin-bottom:25px;text-align:center;font-size:0.75em;}
	#version a:first-child{display:inline-block;}
	#version span {display:inline-block;line-height:12px;font-size:0.6em;text-align:left;}
	#version .desktop{display:none;}
	#version .mobile{display:block;}
	#social ul {display:block;margin:0 auto;width:205px;margin-top:15px;margin-bottom:15px;}
}