/* 
##################################################
##################################################
				Button
##################################################
##################################################
*/		
.btn-blue{
	background-color: #2C3E50;
	color: white;
	font-weight: 700;
}