/* 
##################################################
##################################################
					NAVBAR		
##################################################
##################################################
*/		
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2C3E50;
	position: sticky;
	top: 0;
	z-index: 100;
}
nav a{
	color: white;
}
nav li:hover{
	text-decoration: none;
	color: #f1f2f6;
	background-color: #34495E;
	border-radius: 10px;
}
nav ul{
	display: flex;
}
nav li{
	padding:15px 20px;
	font-size: 1.5em;
}
nav a:hover, nav a:focus{
	color: #f1f2f6;
	text-decoration: none;
}